.breadcrumb {
  color: var(--text-color);
  font-family: "Silkscreen", cursive;
}

.breadcrumb ol {
  align-items: center;
  margin-bottom: 0.5rem !important;
}

.content {
  border-radius: 20px;
  background-color: var(--text-color);
  color: var(--paragrah);
  padding: 1rem 3rem 3rem;
}

.article-data {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.article-data p {
  margin-left: 5px;
  margin-right: 10px;
}

.article-data-publish-time {
  display: flex;
  align-items: flex-end;
}

.article-title {
  text-align: center;
  margin: 2rem 0;
}

.article-title h2 {
  font-size: 25px;
}

/*
 SENTENCE
================================================ */
.sentence h2,
.sentence h3,
.sentence h4 {
  border-bottom: solid 3px var(--main-background);
  margin: 1rem 0;
}

.sentence {
  line-height: 1.9;
  margin-top: 1rem;
  overflow-wrap: break-word;
}

.sentence p + p {
  margin-top: 2rem;
}

.sentence > p {
  white-space: pre-wrap;
}

.sentence > p * {
  white-space: normal;
}

.previous-post,
.next-post {
  margin: 0.5rem 0;
  width: 100%;
}

.previous-post p {
  text-align: left;
}

.next-post p {
  text-align: right;
}

.sentence ul {
  margin: 1rem;
  background-color: rgba(216, 238, 254, 0.6);
  border-radius: 10px;
}

.sentence li {
  padding: 0.5rem;
}

.sentence blockquote {
  font-weight: 600;
  padding: 1rem;
}

@media (max-device-width: 1366px) {
  .article-title h2 {
    font-size: 1.2rem;
  }

  .sentence ul {
    margin: 0.5rem;
  }

  .sentence blockquote {
    font-weight: 600;
    padding: 0.3rem;
  }
}
