.tag-header {
  font-family: "Silkscreen", cursive;
  text-align: center;
  margin: .8rem;
  font-size:1.3rem;
}

.bg-blue {
  color: var(--text-color);
}

.go-all-tags {
  font-family: "Silkscreen", cursive;
  color: var(--text-color);
  font-size: 1.2rem;
  text-align: right;
}

.tag-list {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.tag-list li {
  text-align: center;
  width: 50%;
  margin: 1rem 0;
}
