@media (max-width: 480px) {
  .title h1 {
    font-size: 26px;
  }

  .card_article_title {
    font-size: 16px;
  }

  .card_article_text {
    font-size: 14px;
  }

  .mobile {
    display: block;
  }

  .navbar {
    display: none;
  }

  .title {
    padding-bottom: 30px;
  }

  .card {
    width: 100%;
  }

  footer {
    padding-top: 30px;
  }

  .content {
    padding: 1rem 1rem 1rem !important;
  }

  .tag-list {
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }

  .tag-list li {
    width: 100% !important;
  }
}

@media (max-device-width: 1366px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  main {
    width: 98vw !important;
    padding: 10px;
  }

  aside,
  .side-card {
    width: 90vw;
  }

  .shere {
    width: 90vw;
    background-color: #fffffe;
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
    flex-wrap: wrap;
    padding: 2rem;
  }

  .side-card {
    margin-left: 0;
    margin-top: 20px;
  }
}
